GITLAB_API_TOKEN=
CI_API_V4_URL=https://gitlab.com/api/v4
CI_PROJECT_ID=75972257
CI_PROJECT_URL=https://gitlab.com/tribeplatform/nexus-signup
CI_DEFAULT_BRANCH=main
NEXUS_SIGNUP_VERSION_ENDPOINT=
APP_CANARY_HEADER=X-Tribe-UI-Canary

